<div id="myContainer"></div>
<div id="debug">
    <div>FPS <span id="fps"></span></div>
    <br>
    <div>Count <span id="count"></span></div>
    <textarea>Some text...</textarea>
    <br>
    <br>
    <input type="submit" value="SEND ✔️ " class="btn" id="button">
</div>