<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel=icon href=/images/favicon.ico sizes="16x16" type="image/ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
    <script type="text/javascript" src="/javascripts/pixi-filters.js"></script>
    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/src.js"></script>
    <script type="text/javascript" src="/javascripts/sample.js"></script>
</body>

</html>